// branding colours
// -----------------------------------------------------------------------------------------------


$brand-color-1: #023548;
$brand-color-2: #9d9694;
$brand-color-3: #bccf21;
$brand-color-3-o: rgba($brand-color-3, 0.2);
$brand-color-4: #89c8d2;
$brand-color-5: #53addb;
$brand-color-6: #2f5e80;
$brand-color-7: #dfd5b8;
$brand-color-8: #c4b6ab;
$brand-color-9: #626267;
$brand-color-10: #dddf4b;
$brand-color-11: #94aa5d;
$brand-color-12: #557e42;
$brand-color-13: #b1b4b6;
$brand-color-17: #d6dadb;


$brand-color-14: #232323;
$brand-color-15: #d0021b;
$brand-color-16: #aa2a10;