// Utility helper classes
// -----------------------------------------------------------------------------------------------
.hide-mobile {
  @media only screen and (max-width: 768px) {
    display: none;
  }
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.inline-block {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.valid-cph {
  padding-top: 20px;  
}



.inline-icon {
  display: inline;
  @media only screen and (max-width: 1024px) {
   display: block;
  }
}

.success-icon {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23C0CC4A;%7D%0A%3C/style%3E%3Cpath class='st0' d='M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M10,17l-4.5-4.3l1.4-1.4l3.1,2.9L17,7l1.4,1.4 C18.5,8.4,10,17,10,17z'/%3E%3C/svg%3E%0A") no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  @media only screen and (max-width: 1024px) {
    width: 20px;
    height: 20px;
    margin-left: 0;
  }
}

.failed-icon {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg width='100%25' height='100%25' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23D0021B;%7D%0A%3C/style%3E%3Cpath class='st0' d='M10,0c5.5,0,10,4.5,10,10c0,5.5-4.5,10-10,10C4.5,20,0,15.5,0,10C0,4.5,4.5,0,10,0z M10,8.9L7.3,6.2 C7.1,6.1,6.9,6,6.7,6C6.3,6,6,6.3,6,6.7c0,0.2,0.1,0.4,0.2,0.5L8.9,10l-2.7,2.7C6.1,12.9,6,13.1,6,13.3C6,13.7,6.3,14,6.7,14 c0.2,0,0.4-0.1,0.5-0.2l2.7-2.7l2.7,2.7c0.1,0.1,0.3,0.2,0.5,0.2c0.4,0,0.8-0.3,0.8-0.8c0-0.2-0.1-0.4-0.2-0.5L11.1,10l2.7-2.7 C13.9,7.1,14,6.9,14,6.7C14,6.3,13.6,6,13.2,6c-0.2,0-0.4,0.1-0.5,0.2L10,8.9z'/%3E%3C/svg%3E") no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  @media only screen and (max-width: 1024px) {
    width: 20px;
    height: 20px;
    margin-left: 0;
  }
}


.apps-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0;
}

.no-phase {
  padding-top: 0;
}

.inline-code {
  display: inline;
  margin: 0 3px;
}

.vis-hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.ls-panel {
  padding: 10px 0;
  color: #fff;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.d--relative {
  position: relative;
}

.relative {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

//display utility classes

.d--in-b {
  display: inline-block;
}

.d--block {
  display: block;
}

.d--flex {
  display: flex;
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.division {
    font-size: 40px;
    padding: 20px;
    vertical-align: top;
    @media only screen and (max-width: 1024px) {
      padding: 10px;
    }
}

.d--flex-spaced {
  justify-content: space-between;
}

.d--center-align {
  justify-content: center;
}

.d--hide {
  display: none !important;
}

.d--force-right {
  float: right;
}

.p--large {
  font-size: 18px;
}

.p--xlarge {
  font-size: 24px;
}

// Margin utility classes

.m--0 {
  margin: 0;
}
.m--l-small {
  margin-left: 5px;
}

.m--l-medium {
  margin-left: 10px;
}
.m--l-large {
  margin-left: 20px;
}

.m--r-small {
  margin-right: 5px;
}

.m--r-medium {
  margin-right: 10px;
}

.m--r-large {
  margin-right: 20px;
}

.m--t-large {
  margin-top: 20px;
}

.m--t-xlarge {
  margin-top: 40px;
}

.m--t-xxlarge {
  margin-top: 60px;
}

.m--b-large {
  margin-bottom: 20px;
}
.m--b-xlarge {
  margin-bottom: 40px;
}

.m--b-xxlarge {
  margin-bottom: 60px;
}

.p--0 {
  padding: 0 !important;
}

.p--10 {
  padding: 10px;
}

.d--absolute-b {
  position: absolute;
  bottom: 0;
  left: 0;
}

.word-break {
  word-break: break-word;
}

.p--out {
  padding: 60px 0;
}

.p--r-large {
  padding-right: 40px;
}
.p--r-xlarge {
  padding-right: 40px;
}

.ls-link--white {
  color: #fff !important;
}
.bold {
  font-weight: bold;
}

.capitalise {
  text-transform: capitalize;
}

.help-download {
  position: absolute;
  right: 0;
  top: 0;
}

.visually-hidden,
.ls-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

.small-text {
  font-size: 18px;
}

.d--width-50 {
  width: 50%;
}

.hidden {
  display: none !important;
}

.vis-hidden {
  visibility: hidden;
}

.d--block-mobile {
  @media only screen and (max-width: 760px) {
    display: block;
  }
}

.d--hidden-mobile {
  @media only screen and (max-width: 760px) {
    display: none;
  }
}

.d--show-only-mobile {
  display: none;
  @media only screen and (max-width: 760px) {
    display: block;
  }
}

.word-wrap {
  word-wrap: break-word;
  vertical-align: top;
  @media only screen and (max-width: 1024px) {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .d-img--mobile {
    width: 100%;
  }
  pre {
    max-width: 320px;
  }
  .ls-list--bullet > li {
    word-break: break-all;
  }
  @media only screen and (max-width: 660px) {
    .mobile--no-margin {
      margin-left: 0 !important;
    }
  }
}
